/* LoginPage.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/premium-vector/network-connection-background-abstract-style_23-2148875738.jpg');
  background-size: cover;
  background-position: center;
  perspective: 1000px; /* Create perspective for 3D effect */
}

.login-form {
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  transform: rotateY(20deg); /* Skew effect */
  transition: transform 0.3s ease-out; /* Smooth transition for hover effects */
}

/* Revert the skew on hover */
.login-form:hover {
  transform: rotateY(0deg);
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  font-size: 0.95rem;
  color: #333;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  font-size: 0.95rem;
}

.login-button {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-size: 0.95rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .login-form {
    width: 80%;
    transform: none; /* Remove the skew effect for smaller screens */
  }
}

/* LoginPage.css */

/* Existing styles... */

/* Adjustments for tablets and below */
@media (max-width: 992px) {
  .login-form {
    width: 60%; /* Increase width for medium devices */
    padding: 20px; /* Adjust padding */
    /* Keep the transform effect for slightly larger screens if desired */
  }

  .form-control input, .login-button {
    padding: 12px; /* Increase padding for easier interaction */
    font-size: 1rem; /* Increase font size for better visibility */
  }
}

/* Adjustments for mobile devices */
@media (max-width: 576px) {
  .login-form {
    width: 90%; /* Use a higher percentage of the screen width */
    padding: 15px; /* Adjust padding for a tighter layout */
    border-radius: 10px; /* Adjust for smaller screens */
    transform: none; /* Remove transform for consistency and to avoid layout issues */
  }

  .form-control label {
    font-size: 0.9rem; /* Adjust label size for smaller screens */
  }

  .form-control input, .login-button {
    padding: 10px; /* Adjust form controls for smaller screens */
    font-size: 0.9rem; /* Adjust font size for readability */
  }

  .login-button {
    padding: 12px 0; /* Slightly larger button for easier tapping */
  }
}

